# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Visual Studio Code
.vscode/

# Flutter
.metadata
.packages
build/
coverage/
doc/api/
flutter_*.log
tool/
*_test.*

# Dart
.dart_tool/
.pub-cache/

# Android
android/app/src/main/assets/flutter_assets/
android/app/src/main/res-auto/
android/app/build/
android/app/src/main/java/io/flutter/plugins/
android/key.properties
local.properties

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/Info.plist
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
**/flutter_export_environment.sh

# Build artifacts
.flutter-plugins
.flutter-plugins-dependencies
.pubspec.lock
build/
.dart_tool/
